body {
    background-color: #88ECFF;
    text-align: center;
    transition: background-color 1s ease;
}

/* crack */
#path-11 {
    animation: cracking 10s infinite;
}

@keyframes cracking {
    0% {
        x: 0px;
        width: 0;
    }

    6% {
        x: 5px;
        width: 0;
    }

    11% {
        x: 5px;
        width: 50px;
    }

    16% {
        x: 5px;
        width: 50px;
    }

    20% {
        x: -20px;
        width: 100px;
    }

    25% {
        x: -20px;
        width: 100px;
    }

    40% {
        x: -80px;
        width: 260px;
    }

    100% {
        x: -80px;
        width: 260px;
    }
}

#eggsvg {
    animation: shaking 10s infinite;
    transform-origin: bottom center;
    padding: 200px 400px;
}

@keyframes shaking {
    0% {
        transform: rotate(0deg);
    }

    1% {
        transform: rotate(3deg);
    }

    2% {
        transform: rotate(0deg);
    }

    3% {
        transform: rotate(-3deg);
    }

    4% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(0deg);
    }

    11% {
        transform: rotate(3deg);
    }

    12% {
        transform: rotate(0deg);
    }

    13% {
        transform: rotate(-3deg);
    }

    14% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0deg);
    }

    21% {
        transform: rotate(3deg);
    }

    22% {
        transform: rotate(0deg);
    }

    23% {
        transform: rotate(-3deg);
    }

    24% {
        transform: rotate(0deg);
    }

}

#egg-upper {
    animation: crackout 10s infinite;
    transform-origin: center right;
}

@keyframes crackout {
    0% {
        transform: rotate(0deg);
        transform: translateY(0px);
    }

    30% {
        transform: rotate(0deg);
        transform: translateY(0px);
    }

    35% {
        transform: rotate(0deg);
        transform: translateY(-15px);
    }

    40% {
        transform: rotate(0deg);
        transform: translateY(-10px);
    }

    45% {
        transform-origin: bottom right;
        transform: translateY(-20px);
    }

    50% {
        transform-origin: center center;
        transform: translateY(-15px);
    }

    70% {
        transform-origin: bottom right;
        transform: translateY(-130px) rotate(120deg);
    }

    90% {
        transform-origin: bottom right;
        transform: translateY(-130px) rotate(130deg);
    }
}

#chick {
    animation: chickout 10s infinite;
    transform-origin: center center;
}

@keyframes chickout {
    0% {
        transform: translate(47px, 46px)
    }

    60% {
        transform: translate(47px, 46px)
    }

    100% {
        transform: translate(47px, 26px);
    }
}

#mouth {
    animation: mouthMove 10s infinite;
}

@keyframes mouthMove {
    60% {
        transform: scaleY(1) translateY(-10px);
    }

    80% {
        transform: scaleY(1.5) translateY(-30px);
    }

    100% {
        transform: scaleY(1.2) translateY(-20px);
    }
}

body.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}